apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: sinpeconectacr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: dorianprogrammer/auth-service:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              value: "3001"
            - name: DATABASE_URL
              valueFrom:
                configMapKeyRef:
                  name: sinpeconectacr-config
                  key: DATABASE_URL
            - name: REDIS_URL
              valueFrom:
                configMapKeyRef:
                  name: sinpeconectacr-config
                  key: REDIS_URL
            - name: NATS_URL
              valueFrom:
                configMapKeyRef:
                  name: sinpeconectacr-config
                  key: NATS_URL
            - name: JWT_SECRET
              valueFrom:
                configMapKeyRef:
                  name: sinpeconectacr-config
                  key: JWT_SECRET
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: sinpeconectacr
spec:
  selector:
    app: auth-service
  ports:
    - port: 3001
      targetPort: 3001